@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Oswald:wght@200..700&display=swap');
:root {
    --base-color: #FF8E71;
    --accent-color: #FFC2B2;
    --result-color: #FF4819;

    --calculator-width: clamp(375px, 90vw, 668.5px);
    --calculator-height: calc(var(--calculator-width) * 1.894);

    --display-height: calc(var(--calculator-height) * 0.34);
    --logo-height: calc(var(--display-height) * 0.2);
    --buttons-height: calc(var(--calculator-height) * 0.66);

    --font-display: 'Oswald', sans-serif;
    --font-buttons: 'Nunito Sans', sans-serif;
    --font-logo: 'Fredoka', sans-serif;

    --fs-buttons: calc(var(--calculator-width) * 0.09625);
    --fs-logo: calc(var(--calculator-width) * 0.0565);
    --fs-display: calc(var(--calculator-width) * .175); 
    --fs-equals: calc(var(--calculator-width) * 0.14);
    --fs-decimal: calc(var(--calculator-width) * 0.17);

    --display-spacing: calc(var(--calculator-width) * 0.0707);
}

#calculator {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: var(--calculator-height);
    width: var(--calculator-width);
    background-color: var(--base-color);
}

#display-holder {
    height: var(--display-height)
}

#display-holder > #logo {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: var(--logo-height);
    padding: var(--display-spacing);
    padding-bottom: 0px;
    color: var(--base-color);
    background-color: var(--accent-color);
    font-family: var(--font-logo); 
    font-size: var(--fs-logo);
    font-weight: 600;
}

#logo > p {
    margin-top: 0px;
}

#logo > div {
   margin-right: -10px; 
   font-size: 110%;
   font-weight: 900;
}

#display-holder > #display-text {
    display: flex;
    box-sizing: border-box;
    justify-content: flex-end;
    align-items: flex-end;
    height: calc(var(--calculator-height) * 0.34 * 0.8);
    width: var(--calculator-width);
    padding-right: var(--display-spacing); 
    padding-bottom: 0px;
    padding-top: calc(var(--calculator-height) * 0.34 * 0.2);
    border: 0px;
    background-color: var(--accent-color);
    color: var(--result-color);
    font-size: var(--fs-display); 
    font-weight: 380;
    font-family: var(--font-display);
    text-align: right;
    outline: none;
}

#numpad {
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(4, 1fr);
    width: 100%;
    height: var(--buttons-height); 
}

#numpad > button {
    border: none;
    color: white;
    background-color: var(--base-color);
    font-size: var(--fs-buttons);
    font-family: var(--font-buttons) 
}


#percentage {
    grid-area: 1 / 2 / 2 / 3;
}

#division {
    grid-area: 1 / 3 / 2 / 4;
}

#multiplication {
    grid-area: 1 / 4 / 2 / 4;
}

#seven {
    grid-area: 2 / 1 / 3 / 2;
}

#eight {
    grid-area: 2 / 2 / 3 / 3;
}

#nine {
    grid-area: 2 / 3 / 3 / 4;
}

#subtraction {
    grid-area: 2 / 4 / 3 / 4;
}

#four {
    grid-area: 3 / 1 / 4 / 1;
}

#five {
    grid-area: 3 / 3 / 4 / 2;
}

#six {
    grid-area: 3 / 4 / 4 / 3;
}

#addition {
    grid-area: 3 / 4 / 4 / 4;
}

#one {
    grid-area: 4 / 1 / 5 / 2;
}

#two {
    grid-area: 4 / 2 / 5 / 3;
}

#three {
    grid-area: 4 / 3 / 5 / 4;
}

#zero {
    grid-area: 5/ 1 / 6 / 2;
}

#decimal {
    grid-area: 5 / 2 / 6 / 3;
    font-size: var(--fs-decimal);
}

#backspace {
    grid-area: 5 / 3 / 6 / 4;
}

#backspace > svg {
    width: calc(var(--calculator-width) * .11); 
    height: calc(var(--calculator-width) * .11);
}
  

#equals {
    grid-area: 4 / 4 / 6 / 5;
    font-size: var(--fs-equals) 
}