@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Oswald:wght@200..700&display=swap');

#calculator {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 725px;
    width: 382px;
    justify-content: space-between;
    align-items: center;
    background-color: #FF8E71;
}

#display-text {
    display: flex;
    box-sizing: border-box;
    justify-content: flex-end;
    align-items: end;
    height: 192px;
    width: 382px;
    padding-right: 30px;
    padding-bottom: 26px;
    background-color: #FFC2B2;
    font-size: 400%; 
    font-weight: 380;
    font-family: "Oswald", sans-serif;
    color: #FF4819;
    border: 0px;
    text-align: right;
    outline: none; 
    padding-top: 50px;
}

button {
    color: white;
    background-color: #FF8E71;
    border: 0px;
    font-size: 230%;
    font-family: "Nunito Sans", sans-serif;
}

.buttons {
    display: grid;
    grid-template-rows: repeat(5, 95.6px);
    grid-template-columns: repeat(4, 95.5px);
}

#logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    height: 55px;
    padding: 27px;
    font-family: "Fredoka", sans-serif;
    font-size: 135%;
    font-weight: 600;
    color: #FF8E71;
    background-color: #FFC2B2;
}

#logo p {
    margin-top: 0px;
}

#logo div {
   margin-right: -10px; 
   font-size: 110%;
   font-weight: 900;
   user-select: none;
}

#backspace {
    size: 60%;
}

#clear {
    grid-area: 1 / 1 / 2 / 2;
}

#percentage {
    grid-area: 1 / 2 / 2 / 3;
}

#division {
    grid-area: 1 / 3 / 2 / 4;
}

#multiplication {
    grid-area: 1 / 4 / 2 / 4;
}

#seven {
    grid-area: 2 / 1 / 3 / 2;
}

#eight {
    grid-area: 2 / 2 / 3 / 3;
}

#nine {
    grid-area: 2 / 3 / 3 / 4;
}

#subtraction {
    grid-area: 2 / 4 / 3 / 4;
}

#four {
    grid-area: 3 / 1 / 4 / 1;
}

#five {
    grid-area: 3 / 3 / 4 / 2;
}

#six {
    grid-area: 3 / 4 / 4 / 3;
}

#addition {
    grid-area: 3 / 4 / 4 / 4;
}

#one {
    grid-area: 4 / 1 / 5 / 2;
}

#two {
    grid-area: 4 / 2 / 5 / 3;
}

#three {
    grid-area: 4 / 3 / 5 / 4;
}

#zero {
    grid-area: 5/ 1 / 6 / 2;
}

#decimel {
    grid-area: 5 / 2 / 6 / 3;
    font-size: 60px;

}

#equals {
    grid-area: 4 / 4 / 6 / 5;
    font-size: 50px; 
}

#history-div {
    height: 725px;
    width: 255px;
    background-color: #FFC2B2;
    border-left: #FF4819 1px solid;
    overflow-y: auto;
    overflow-x: hidden;
}

#calc-history {
    display: flex;
    flex-direction: row;
}

#history-logo {
    text-align: center;
    height: 55px;
    padding: 27px 27px 0px 27px;
    font-family: "Fredoka", sans-serif;
    font-size: 135%;
    font-weight: 600;
    color: #FF8E71;
}

.calculations-result {
    text-align: right;
    font-family: "Oswald", sans-serif;
    padding-right: 21px;
    padding-bottom: 21px;
}

.calculation {
    color: #ff47199a;
    font-weight: 350;
    word-spacing: 7px;
}

.result {
    color: #FF4819;
    font-size: 175%;
    font-weight: 450;
    margin-top: -5px;
}
